{% from "macros/form_field_macro.html" import displayFormField %}

{% extends "layout.html" %}
{% set active_page = "home" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{legend}}</legend>

                <!-- diplay form field using macro -->
                {{ displayFormField(form.title) }}
                {{ displayFormField(form.theme) }}

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% for video in videos %}
        <article class="media content-section">
            <div class="media-body">
                <p class="article-content"><b>Title: </b>{{ video['title'] }}</p>
                <p class="article-content"><b>Theme: </b>{{ video['theme'] }}</p>
                <div>
                    <a href="{{ url_for('main.thumbs_up', video_id=video['_id']) }}">
                        {{ video['thumbs_up'] }} <i class="fa fa-thumbs-up"></i>
                    </a>&nbsp;&nbsp;
                    <a href="{{ url_for('main.thumbs_down', video_id=video['_id']) }}">
                        {{ video['thumbs_down'] }} <i class="fa fa-thumbs-down"></i>
                    </a>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}