{% extends "layout.html" %}
{% set active_page = "theme_list" %}

{% block content %}
<div class="table-responsive-sm">
<h5 class="text-center">Theme List</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Theme</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for theme in themes %}
    <tr>
      <td class="article-content">{{ theme['_id'] }}</td>
      <td class="article-content">{{ theme['score'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
